<!DOCTYPE html>
<html>
<head>
        <title>Z'&'S</title>
</head>
<body>
<header>
        <p>Ziemer's & Santos's International</p>
        <a href="/">Home</a>
        <a href="/categories">Categorias</a>
</header>
<partial name="NavMenuPartial"></partial>
<main>
        @RenderBody();
</main>
</body>
</html>