@using BlazingShop.Models
<PageTitle>Products</PageTitle>
<h1>Lista de Produtos</h1>
<table>
    @foreach (var item in products)
    {
        <ul>@item.Id - @item.Name - @item.Price</ul>
    }
</table>



@code
{
    [Parameter] 
    public int Type { get; set; }
    public List<Product> products=new();
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        for (int i = 0; i < 100; i++)
        {
            products.Add(new Product(i,$"produto {i}",i+100));
        }
    }
}