<table>
    <thead>
    <tr>
        <a asp-page="index">Index</a>
        <p>  </p>
        <a asp-page="da">dale</a>
        <p>  </p>
        <a asp-page="categories">cadtegories</a>
    </tr>
    </thead>
</table>
