@page ""
@model FirstRazorApp.Pages.index

@{
    ViewData["title"] = "index";
}

<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
    </tr>
    </thead>
</table>
<h1>Home</h1>
@section site {
<script src="site.js"></script>
}