@page ""
@model BrincandoComRazor.Pages.Index

@{
    Layout = null;
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div>
    <h1>Home</h1>
    <div>
        @foreach (var item in Model.cat)
        {
            <p>@item.Title</p>
        }
    </div>
</div>
<footer>
    <div>
        <p>Powered by Ziemer's e Santo's co.</p>
    </div>
</footer>
</body>
</html>