@page "Posts"
@model BrincandoComRazor.Pages.Posts

@{
    Layout = null;
    ViewData["Dale"] = "Postagens";
}

<!DOCTYPE html>

<html>
<head>
<title>@ViewData["Dale"]</title>
</head>
<body>
<div>
    
</div>
</body>
</html>